body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.number-box {
    display: flex;
    flex-direction: row;
    color: rgb(182, 167, 167);
}

.X, .Y, .Z {
    align-items: left;
    justify-content: center;
}

input{
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(201, 169, 29);
}

.signs {
    font-size: 20px;
    margin-left: 5px;
    color: rgb(182, 119, 119);
}

#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9 {

    color: rgb(150, 147, 112);
    font-weight: bold;
    text-align: center;
}

button {
    background-color: rgb(178, 231, 127);
    padding-top: 20px; 
    padding-bottom : 20px;
    padding-left: 30px; 
    padding-right : 20px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(202, 158, 100);
}